.greeting{
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}


.loading-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }