.products-container{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.card {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    max-width: 500px;
    min-height: 300px;
    margin: auto;
}
.card-image {
    width: 200px;
    height: 200px;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-name {
    font-size: 1.2rem;
    color: blueviolet;
}
.card-description {
    font-size: 0.9rem;
    color: blueviolet;
}
.card-price {
    font-size: 1.5rem;
    color: blueviolet;
    font-weight: bold;
}
.card-stock {
    font-size: 1rem;
    color: blueviolet;
}
.card-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card-button-minus {
    background-color: #fff;
    border: 1px solid #212121;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
input {
    text-align: center;
}
.card-input {
    background-color: #fff;
    border: 1px solid #212121;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    margin:  0 0.5rem;
}
.card-button-plus {
    background-color: #fff;
    border: 1px solid #212121;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media  screen and (max-width:990px) {
    .card{
        max-width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        margin-left: auto;
    }
    
}

@media  screen and (max-width:768px) {
    .card{
        max-width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        margin-left: auto;
    }
    
}